form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  width: 50%;
  
 
}
form input{
  height: 30px;
  padding: 10px 20px;
  border: 1px solid blue;
  background-color: transparent;
}